section {
  display: flex;
  align-items: center;
  height: 100vh;
}

p {
  text-align: center;
  font-size: xx-large;
  line-height: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.stopwatch {
  background-color: #5ce1e6;
  padding-block: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.buttons button {
  padding: 20px 45px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
}

.button-reset {
  background-color: #ffde59;
}

.button-start {
  background-color: #c9e265;
}

.button-stop {
  background-color: #7ed957;
}